body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fde0e0; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.heart-container {
    text-align: center;
}

.heart {
    font-size: 100px;
    animation: pulse 1s infinite alternate;
    color: #ff66b2; 
}

.heart-container a {
    text-decoration: none;
    color: inherit;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}


header {
    background-color: #ff66b2; 
    color: #fff;
    text-align: center;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1;
}

h1 {
    margin: 0;
    font-size: 24px;
}

#add-note, #save-notes {
    background-color: #ff3385; 
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin: 5px;
}

#add-note:hover, #save-notes:hover {
    background-color: #ff0054; 
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 80px); 
    padding: 20px;
}

#note-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.note {
    width: 300px;
    height: 200px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    position: relative;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.note:hover {
    transform: translateY(-5px);
}

.note-textarea {
    width: 100%;
    height: 100%;
    border: none;
    resize: none;
    font-size: 14px;
}

.delete-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #ff0054; 
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
}
